
body {
    margin-right: 0;
}

.logo {
    filter: brightness(1000);
    width: 110px; 
 
}

.button-login {
    background-color:#F9A617!important;
    border: 1px solid #F9A617!important;
    margin-left: 120px;
}

.button-login:hover {
    background-color:#f89f04!important;
    border: 1px solid #f09a06!important;
    height: 42px;
    width: 70px;
    border-radius: 5px;
}
.navBar{
    color: whitesmoke;
}

.navBar:hover{
    font-weight: 500;
    color: #f89f04;
    text-decoration: none;

}
